
/* General rules */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



/* Header */
header{
    color: white;
    padding-top: 20px;
    padding-bottom: 150px;
}


/* Logo + Nav */
nav{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

nav > div{
    background-color: orange;
    height: 100%;
}

.navigator{
    width: 35%;
}

#logo{
    width: 15%;
}

#accedi{
    width: 15%;
}

/* Descrizione */

.descrizione{
    height: 200px;
    margin: 150px 25% 0 25%;
    background-color:cornflowerblue; 
}

.jumbotron{
    display: flex;
    height: 50px;
    margin: 20px 33% 0 33%;
    background-color: blueviolet;
    align-items: center;
    justify-content: space-around;
}

.button{
    align-items: center;
    background-color: white;
    margin: 5px 0;
    border-radius: 20px;
}

#scarica{
    width: 35%;
    height: 40px;
}

#apri{
    width: 55%;
    height: 40px;
    background-color:slategray
}




/* Main */

.contenitore-bianco{
    background-color: white;
    min-height: 400px;
    padding: 100px 0;
}

.contenitore-grigio{
    background-color: gray;
    min-height: 400px;
    padding: 100px 0;
}

.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:bisque;
    height: 400px;
    margin: 0 15%;
}

.image{
    width: 55%;
    height: 90%;
    background-color: brown;
}

.info{
    width: 35%;
    min-height: 70%;
    background-color: brown;
}

.more-feature{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: orange;
    margin: 0 15% 100px;

}

div > h2{
    min-width: 80%;
    height: 70px;
    background-color: brown;
}

div > p{
    min-width: 80%;
    height: 50px;
    background-color: brown;
}

div > #call-photo{
    width: 95%;
    height: 400px;
    background-color: brown;
    margin: 50px 0;
}

div > h3{
    min-width: 60%;
    height: 50px;
    background-color: brown;
}

#download{
    background-color: rgba(114,137,218,255);
    margin: 30px 0;
    height: 30px;
    width: 15%;
}