

/* Header */
header{
    color: white;
    padding-bottom: 150px;
}


/* Logo + Nav */
nav{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

nav > div{
    background-color: orange;
    height: 100%;
}

.navigator{
    width: 35%;
}

#logo{
    width: 15%;
}

#accedi{
    width: 15%;
}

/* Descrizione */

.descrizione{
    height: 200px;
    margin: 150px 25% 0 25%;
    background-color:cornflowerblue; 
}

.jumbotron{
    display: flex;
    height: 50px;
    margin: 20px 33% 150px 33%;
    background-color: blueviolet;
    align-items: center;
    justify-content: space-around;
}

.button{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 5px 0;
    height: 40px;
    width: 40%;
    border-radius: 20px;
}

#scarica{
    width: 35%;
}

#apri{
    width: 55%;
    background-color:slategray
}